/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, sans-serif);
  font-variation-settings: 'wght' var(--main-font-weight) 'opsz' 0;
  background-color: var(--bg-color, #FFFFFF);
  background-image: var(--bg-image,
    repeating-linear-gradient(90deg, #d3d3d3 0px 2px, transparent 2px 4px), 
    repeating-linear-gradient(180deg, #d3d3d3 0px 2px, transparent 2px 4px),
    linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%));
  background-size: var(--bg-size, cover);
  background-repeat: no-repeat;
  color: var(--accent-color, #000000);
  padding: 6.25em clamp(0rem, 34.648vw - 8.121rem, 23.063rem);
}

.header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: end;
  padding-block-end: 1.3125em;
  padding-block-start: clamp(7.5rem, 1.502vw + 7.148rem, 8.5rem);
  align-items: center;
  gap: 1.24em;
  margin-block-end: 6.25em;
  background-color: var(--bg-color, #FFFFFF);
  border: 2px solid var(--accent-color, #000000);
}

@media (width <= 375px) {
  .mobile-width {
    inline-size: var(--mobile-width, 100%);
  }
}

.theme-menu {
  order: 3;
  padding-inline-start: 1.21875em;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.theme-menu__button {
  border: none;
  background-color: transparent;
  font-family: var(--accent-font, monospace);
  font-size: 0.875em;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
}

.theme-menu__button:hover {
  color: var(--accent-color-transparent, rgb(0 0 0 / 60%));
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  display: block;
  background-color: var(--accent-color-transparent, rgb(0 0 0 / 60%));
  block-size: 3px;
  inline-size: 100%;
  inset-block-end: -3px;
  inset-inline-start: 0;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  color: var(--accent-color-transparent, rgb(0 0 0 / 60%));
}

.theme-menu__button:disabled {
  position: relative;
  color: var(--accent-color-transparent, rgb(0 0 0 / 60%));
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  color: var(--accent-color-transparent, rgb(0 0 0 / 60%));
  inset-inline-start: -20px;
}

.logo {
  display: inline-block;
  font-family: var(--accent-font, monospace);
  font-size: clamp(3.063rem, 1.502vw + 2.71rem, 4.063rem);
  font-weight: 400;
  text-decoration: none;
}

.title {
  font-family: var(--accent-font, monospace);
  font-size: clamp(0.875rem, 0.845vw + 0.677rem, 1.438rem);
  font-weight: 400;
  text-transform: uppercase;
  padding-block-end: 0.15625em;
}

.posts-menu__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.posts-menu__item {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color, #FFFFFF);
  border: 2px solid var(--accent-color, #000000);
}

.posts-menu__title {
  font-family: var(--main-font, sans-serif);
  font-variation-settings: 'wght' var(--main-font-weight) 'wdth' 100 'opsz' 0;
  font-size: 18px;
  line-height: 1.25;
  padding-bottom: 3px;
  padding-top: 6px;
  padding-inline-start: 10px;
  padding-right: 10px;
  border-bottom: 2px solid var(--accent-color, #000000);
}

.posts-menu__card {
  display: flex;
  justify-content: flex-end;
}

.posts-menu__watermark {
  position: absolute;
  z-index: 1;
  font-family: var(--accent-font, monospace);
  font-size: 14px;
  font-weight: 400;
  padding-block-start: 25px;
  padding-inline-end: 24px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

.watermark-stroke {
  text-shadow:
    -0 1px 0 var(--stroke-color, #FFFFFF),
    0 1px var(--stroke-color, #FFFFFF),
    1px 0 var(--stroke-color, #FFFFFF),
    0 -1px var(--stroke-color, #FFFFFF);
}

@supports((text-stroke: 1px var(--stroke-color, #FFFFFF)) or (-webkit-text-stroke: 1px var(--stroke-color, #FFFFFF))) {
  .watermark-stroke {
    -webkit-text-stroke: 1px var(--stroke-color, #FFFFFF);
    text-stroke: 1px var(--stroke-color, #FFFFFF);
    text-shadow: none;
  }
}

.posts-menu__image {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
}

/*filters*/

.image-filter_ready_to_study {
  filter: grayscale(1) brightness(80%);
}

.image-filter_by_the_sea {
  filter: sepia(0.6) saturate(150%)
}

.image-filter_belgian_potatoes {
  filter: invert(0.4);
}

.image-filter_trip {
  filter: hue-rotate(60deg);
}

.image-filter_family {
  filter: brightness(70%);
}

.image-filter_community {
  filter: blur(2px);
}

.image-filter_frankfurt {
  filter: sepia(0.4);
}

.image-filter_ready_to_js {
  filter: saturate(150%) hue-rotate(230deg);
}

.posts-menu__post {
  display: flex;
  flex-direction: column;
  padding: 1.625em;
  gap: 27px;
  border-top: 2px solid var(--accent-color, #000000);
}

.posts-menu__text {
  font-family: var(--main-font, sans-serif);
  font-variation-settings: 'wght' var(--main-font-weight) 'wdth' 100 'opsz' 0;
  font-size: 18px;
  line-height: 1.1;
}

.buttons {
  align-self: flex-end;
  display: flex;
  gap: 0.5em;
  padding-inline-end: 1.55em;
  padding-block-end: 1.55em;
}

.card__icon-button {
  position: relative;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  padding-block-start: 0.3125em;
  inline-size: 42px;
  cursor: pointer;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color, #000000);
}

.card__like-button {
  padding: 9px 17px;
  min-height: 38px;
  inline-size: 130px;
}

.button {
  position: relative;
  border: 2px solid var(--accent-color, #000000);
  background-color: transparent;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: var(--accent-color, #000000);
}

.footer {
  margin: 50px auto 0;
  max-inline-size: 314px;
  background-color: var(--bg-color, #FFFFFF);
}

.button__text {
  position: relative;
  z-index: 2;
  display: block;
  color: var(--button-text-color, #FFFFFF);
  font-family: var(--accent-font, monospace);
  line-height: 90%;
  font-weight: 400;
  font-size: 14px;
  mix-blend-mode: difference;
}

.footer__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 15px 0;
  text-align: center;
}

.footer__image {
  position: relative;
  z-index: 2;
  block-size: 28px;
  inline-size: auto;
  mix-blend-mode: difference;
  color: var(--button-text-color, #FFFFFF);
}

@media (width > 375px) {
  .footer {
    max-inline-size: 340px;
  }

  .footer__button {
    flex-direction: row;
  }

  .footer__image {
    margin: 0 2px 0 19px;
    block-size: 20px;
  }
}

/*поп-ап*/

.dialog {
  max-inline-size: 343px;
  inset: 0;
  position: fixed;
  padding: 32px 42px;
  font-family: var(--accent-font, monospace);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--accent-color, #000000);
  text-transform: uppercase;
  border: 2px solid var(--accent-color, #000000);
  background-color: var(--bg-color, #FFFFFF);
}

.dialog__form {
  display: grid;
  grid-template-rows: 1fr min-content;
  grid-template-columns: 0.3fr 1fr;
  row-gap: 30px;
}

.dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.dialog__button {
  grid-column: 1 / 3;
  grid-row: 2;
  padding: 9px 0;
  background-color: var(--bg-color, #FFFFFF);
  text-transform: uppercase;
}

.dialog__image {
  align-self: center;
  inline-size: 39px;
  block-size: 39px;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 75%);
}